html, body, #siderbar {
    height: 100%;
    min-height: 100%;
}

.navbar {
    border-radius: 0;
}

#blog h1 {
    margin-top: 0;
}

h2 a {
    color: #FCA205;
}

#blog article .lead {
    font-size: 16px;
}
