@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Indie+Flower|Pacifico);
html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

.navbar {
    border-radius: 0;
}

nav.navbar.navbar-fixed-top {
    padding: 10px 30px;
    background-color: #8c8;
    border-bottom: 1px solid grey;
}

nav.navbar.navbar-fixed-top li.active a, a:hover {
    background-color: transparent;
    color: #FCA205;
}

nav.navbar.navbar-fixed-top a {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
    background-color: transparent;
}

nav.navbar.navbar-fixed-top a:hover {
    color: #FCA205;
    background-color: transparent;
}

.main-gallery {
    height: 100%;
    background-size: cover;
    background: black;

}

.main-gallery .gallery-cell {
    height: 100%;
    width: 100%;
      /* flex-box, center image in cell */
      display: -webkit-box;
      display: -webkit-flex;
      display:         flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-align-items: center;
              align-items: center;
}

.main-gallery .gallery-cell img {
    width: 100%;
    height: auto;
}

/* buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
}
.flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}
.flickity-prev-next-button.no-svg {
    color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

.main-gallery .gallery-cell.gallery-cell-1 {
    background-color: #ED2;
}

.main-gallery .gallery-cell.gallery-cell-1 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translate(0, -50%);
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}
.main-gallery .gallery-cell.gallery-cell-1 p {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(0, -50%);
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px black;
}


.main-gallery .gallery-cell.gallery-cell-2 {
    font-family: 'Montserrat', sans-serif;
    background-color: lightblue;
}

.main-gallery .gallery-cell.gallery-cell-2 h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(0, -50%);
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}
.main-gallery .gallery-cell.gallery-cell-2 .posts {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.main-gallery .gallery-cell.gallery-cell-2 .posts p {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

#blog h1 {
    margin-top: 0;
}

h2 a {
    color: #FCA205;
}

#blog article p {
    font-size: 20px;
}

.bear {
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px blue;
}
