<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <title>BEAR's website</title>
</head>
<body>
    <h1>BEAR's blog</h1>
    {% for post in posts %}
        <div>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>published: {{ post.published_date }}</p>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
</body>
</html>
